<template>
    <div class="mymap">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935760.5459321206!2d118.03320748025898!3d39.61051717486449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f05296e7142cb9%3A0xb9625620af0fa98a!2z0J_QtdC60LjQvSwg0JrQuNGC0LDQuQ!5e0!3m2!1sru!2sru!4v1575484565179!5m2!1sru!2sru"
            allowfullscreen=""></iframe>
        <div class="forma container" id="form_link">
            <div class="form_content">
                <div class="contacts1">
                    <div class="title">AVIS ELECTRONICS</div>
                    <div>+86 (186) 66660854</div>
                    <div class="email">
                        <p class="label">E-Mail: </p><a href="#">sales@aviselectronics.com</a>
                    </div>
                    <div>Mon-Fri: 09:00 - 18:00, <br /> Sat: 09:00 - 12:00 (UTC +08:00)</div>
                </div>
                <form id="fields" @submit.prevent="onSubmit">
                    <div class="form-group">
                        <input
                        placeholder="Name"
                        type="name"
                        id="name"
                        class="form-control input"
                        :class="{'is-invalid': $v.name.$error}"
                        @blur="$v.name.$touch()"
                        v-model="name"
                        >
                        <div class="invalid-feedback" v-if="!$v.name.required">Name field is required</div>
                    </div>

                    <div class="form-group">
                        <input
                        placeholder="E-mail"
                        type="email"
                        id="email"
                        class="form-control input"
                        :class="{'is-invalid': $v.email.$error}"
                        @blur="$v.email.$touch()"
                        v-model="email"
                        >
                        <div class="invalid-feedback" v-if="!$v.email.required">Email field is required</div>
                        <div class="invalid-feedback" v-if="!$v.email.email">This field should be an email</div>
                    </div>

                    <div class="form-group">
                        <textarea
                        placeholder="Comment"
                        type="comment"
                        id="comment"
                        class="form-control"
                        :class="{'is-invalid': $v.comment.$error}"
                        @blur="$v.comment.$touch()"
                        v-model="comment"
                        ></textarea>
                        <div class="invalid-feedback" v-if="!$v.comment.minLength">Min length comment is {{$v.comment.$params.minLength.min}}. Now it is {{comment.length}}</div>
                    </div>
                    <button
                    class="btn btnred"
                    type="submit"
                    :disabled="$v.$invalid"
                    >Send</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  data () {
    return {
      email: '',
      name: '',
      comment: ''
    }
  },
  methods: {
    onSubmit () {
      axios.post('https://formcarry.com/s/i-4cjGlRAIY', {
        name: this.name, email: this.email, comment: this.comment })
        .then(response => {
          this.name = ''
          this.email = ''
          this.comment = ''
        })
        .then(function (response) {
          alert('Сообщение отправлено!')
        })
        .catch(error => {
          console.log(error)
          alert('Test error!')
        })
    }
  },
  validations: {
    email: {
      required,
      email
    },
    name: {
      required
    },
    comment: {
      minLength: minLength(6)
    }
  }
}
</script>
